---
---

@import '{{ site.theme }}';

/* append your custom style below */

@media(prefers-color-scheme: light) {
    html:not([data-mode]),
    html [data-mode=light] {
        --text-color: #34343c;
        --text-muted-color: dimgray;
        --blockquote-border-color: darkgray;
        --blockquote-text-color: var(--text-color);
        --sidebar-button-color: #424242;
        --sidebar-active-color: var(--text-color);
        --sidebar-muted-color: var(--text-muted-color); 
        --sidebar-btn-bg: white;
        --btn-paginator-hover-color: var(--sidebar-bg);
        --btn-paginator-border-color: var(--sidebar-bg);
        --btn-text-color: var(--text-color);
    }

    #sidebar .site-title a {
        color: #595959;
    }

  html[data-mode=dark] {
    --text-color: #d3d3d3;
    --text-muted-color: #9d9d9d;
    --blockquote-text-color: var(--text-color);
    --label-color: #d3d3d3;
    --sidebar-button-color: #8e8e8e;
    --sidebar-active-color: var(--text-color);
    --sidebar-muted-color: var(--text-muted-color);
    --sidebar-btn-bg: #75747433;
    --btn-paginator-hover-color: var(--sidebar-bg);
    --btn-paginator-border-color: var(--sidebar-bg);
    --btn-text-color: var(--text-color);
  }

  html[data-mode=dark] #sidebar .site-title a {
    color: #e4e4e4;
  }

  html[data-mode=light] #sidebar .site-title a {
    color: #595959;
  }

  html[dark-mode=dark] #sidebar .muted-color {
    color: #9d9d9d; // subtitle color
  }

  html[dark-mode=light] #sidebar .muted-color {
    color: dimgray; // subtitle color
  }
}

// ----------------------------------------------

@media(prefers-color-scheme: dark) {
    html:not([data-mode]),
    html [data-mode=dark] {
        --text-color: #d3d3d3;
        --text-muted-color: #9d9d9d;
        --blockquote-text-color: var(--text-color);
        --label-color: #d3d3d3;
        --sidebar-button-color: #8e8e8e;
        --sidebar-active-color: var(--text-color);
        --sidebar-muted-color: var(--text-muted-color);
        --sidebar-btn-bg: #75747433;
        --btn-paginator-hover-color: var(--sidebar-bg);
        --btn-paginator-border-color: var(--sidebar-bg);
        --btn-text-color: var(--text-color);
    }

    html [data-mode=light] {
        --text-color: #34343c;
        --text-muted-color: dimgray;
        --blockquote-border-color: darkgray;
        --blockquote-text-color: var(--text-color);
        --sidebar-button-color: #424242;
        --sidebar-active-color: var(--text-color);
        --sidebar-muted-color: var(--text-muted-color); 
        --sidebar-btn-bg: white;
        --btn-paginator-hover-color: var(--sidebar-bg);
        --btn-paginator-border-color: var(--sidebar-bg);
        --btn-text-color: var(--text-color);

        #sidebar .site-title a {
            color: #595959;
        }
    }
}
